#navbar {
	background: #FBFAE4 none repeat 0 0;
	border-top: 8px solid #005CB8;
	font-family: Georgia,Times,serif;
	font-size: 18px;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	width: 70%;
	height: 2.6em;
	line-height: normal;
	overflow: hidden;
	margin: -10px 0 10px 0;
	padding: 0 25% 0 25%;
}

ul {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
}

#navbar a:hover {
	background: transparent url(../images/navbarlinkbg.gif) repeat-x scroll left top;
	text-decoration: none;
	color: #C92525;
}

#navbar li {
	background: transparent url(../images/diamond-black.gif) no-repeat scroll 100% 66%;
	float: left;
	margin-right: 5px;
	padding: 0 23px 0 13px; 
}

#navbar #last {
	background: transparent none repeat scroll 0 0;
}

#navbar li a {
	color: #000000;
	display: block;
	padding: 0.75em 0 0.25em; 
	text-transform: uppercase;
}

#navbar a {
	border-bottom-width: 0;
	text-decoration: none;
}