body {
	background: url(../images/cream.gif) center;
	font-family: Georgia,Times,serif;
	font-size: 0.8125em;
	font-size-adjust: none;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
}

#wrapper {
	width: 1024px;
	margin: 0 auto;
	background-color: #FFFFFF;
	border: 5px solid #333333;
}

#header {
	padding: 0 0 0 0;
	height: 150px;
	background: url(../images/header.jpg) no-repeat;
	text-align: center;
}

#header h2 {
	margin: 0 auto;
	padding: 10px 10px 10px 10px;
	color: #FFFFFF;
	text-align: right;
	position: relative;
	top: 80px;
}

#header h4 {
	margin: 0 auto;
	padding: 0 10px 10px 10px;
	color: #FFFFFF;
	text-align: right;
	position: relative;
	top: 75px;
}

#navbar {
	background: #FBFAE4 none repeat 0 0;
	border-top: 4px solid #333333;
	border-bottom: 4px solid #333333;
	font-family: Georgia,Times,serif;
	font-size: 18px;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	height: 2.4em;
	line-height: normal;
	overflow: hidden;
	padding: 0 17% 0 17%;
	margin: -10px 0 10px 0;
}

ul {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
}

#navbar a:hover {
	text-decoration: underline;
	color: #555555;
}

#navbar li {
	background: transparent url(../images/diamond-black.gif) no-repeat scroll 100% 66%;
	float: left;
	margin-right: 5px;
	padding: 0 23px 0 13px; 
}

#navbar #last {
	background: transparent none repeat scroll 0 0;
}

#navbar li a {
	color: #000000;
	display: block;
	padding: 0.75em 0 0.25em; 
	text-transform: uppercase;
}

#navbar a {
	border-bottom-width: 0;
}

/*a:link, a:visited {
	border-bottom: 1px solid #555555;
	color: #555555;
} */

a {
	text-decoration: none;
}

#main {
	padding: 10px 10px 10px 10px;
}

#content {
	font-size: 16px;
}

#map {
	margin: 10px 10px 10px 10px;
	border: 1px solid #000000;
	width: 800px;
	height: 600px;
}

#footer {
	background: #333333;
	width: 1024px;
	height: 20px;
	margin: 0 auto;
	text-align: center;
}

#footer li {
	float: left;
	padding: 0 60px 0 60px;
}

#footer li a {
	color: #FFFFFF;
	display: block;
	padding: 0.35em 0 0.25em;
	text-decoration: none;
}

#footer a {
	border-bottom-width: 0;
}

#footer a:hover {
	color: gold;
}

#credits {
	clear: both;
	position: relative;
	bottom: -10px;
	text-align:center;
	color: #FFFFFF;
}

#credits a {
	color: gold;
	border-bottom-width: 0;
	line-height: 1.5;
}

#credits a:hover {
	text-decoration: underline;
}