#threeColLayout #primaryContent {
	float: left;
	width: 370px;
	margin: 0 0 20px 195px;
}

#secondaryContent {
	float: left;
	width: 270px;
	margin: 0 0 20px 15px;
}

#sideContent {
	float: left;
	width: 180px;
	margin: 0 0 20px -850px;
}

#twoColLayout #primaryContent {
	width: 655px;
	float: left;
	margin: 0 0 20px 195px;
}

#twoColLayout #secondaryContent {
	display: none;
}

#oneColLayout #primaryContent {
	width: 850px;
	margin: 0 0 20px 0;
	background: #FFF;
}

#oneColLayout #secondaryContent, #oneColLayout #sideContent {
	display: none;
}

#wrapper {
	width: 850px;
	margin: 0 auto;
	padding: 0 10px 10px 10px;
	background-color: #000000;
}

img {
	float: left;
	width: 200px;
	height: 120px;
}

#header h1 {
	color: #FF3344;
	text-shadow: #000 1px 1px 5px;
	font: oblique 40px Marker Felt;
}

#mainNav {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
	width: 1024px;
	float: bottom;
	background: transparent;
}

#mainNav li {
	float: left;
	font: 24px Marker Felt;
	background: blue;
}

#mainNav a {
	display: block;
	float: left;
	padding: 0 2em;
	line-height: 2.1em;
	text-decoration: none;
	color: #FFAA00;
}

#mainNav .first a {
	background: none;
}

#mainNav a:hover {
	color: #DDDD00;
}

.box {
	text-align: center;
	margin: 15px 0 0 0;
	padding: 10px 0 5px 0;
	background: #FFEE99;
}

.box h2 {
	margin: 0 10px 0 10px;
	padding: 5px 5px 5px 5px;
	font: 20px Marker Felt;
	background: #5599FF;
}

.cbb {
	text-align: left;
	margin: 10px 10px 5px 10px;
	background: #FFF;
	padding: 5px 10px 5px 10px;
	line-height: 170%;
	font-size: 90%;
}

.cbb h3 {
	text-transform: uppercase;
	font-size: 92%;
	margin: 0 0 5px 0;
	padding: 2px;
}

.example {
	display: block;
	float: none;
	margin: 5px 0 5px 0;
	border: 1px dotted #000;
}

.thumb {
	width: 150px;
	height: 100px;
	float: none;
	margin: 10px 5px 5px 5px;
	border: 10px solid white;
}

.description {
	padding: 5px 5px 5px 5px;
}

.title {
	font-weight: bold;
}