<h1>Users</h1>

<% @users.each do |u| %>
	<b><%= h u.login %></b>
	<%= h u.email %>
	<%= link_to "Delete", user_path(u), :method => :delete %><br />
<% end %>

<p>
	<%= link_to "Add New User", new_user_path %>
</p>