<ul id="navbar">
	<li><a href="/">Home</a></li>
	<li><a href="<%= rental_properties_path %>">Rentals</a></li>
	<li><a href="<%= sale_properties_path %>">Real Estate</a></li>
	<li><a href="/About-Us">About Us</a></li>
	<li id="last"><a href="/Contact-Us">Contact Us</a></li>
</ul>